.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mapa{
  background-image: url('/public/assets/images/pixilart-drawing.png');
  width: 700px;
  height: 700px;
  position: relative;
}

