.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mapa{
  background-image: url('/public/assets/images/level1.gif');
}

.hero{
  background-image: url('/public/assets/images/wizzard2.png');
}

.demon{
  background-image: url('/public/assets/images/orc.png');
}

.mini-demon{
  background-image: url('/public/assets/images/mini-orc.png');
}

.trap{
  background-image: url('/public/assets/images/trap.png');
}
.corner-wall-bottom{
  background-image: url('/public/assets/images/CWB.png');
}
.coin{
  background-image: url('/public/assets/images/coin3.png');
}
.crate{
  background-image: url('/public/assets/images/crate.png');
}

@keyframes oneSquare {
    from{
      background-position-x: 0px;
    }
    to{
      background-position-x: -192px;
    }
  }

  @keyframes trap {
    from{
      background-position-x: 0px;
    }
    to{
      background-position-x: -192px;
    }
  }

@keyframes fourSquare {
    from{
      background-position-x: 0px;
    }
    to{
      background-position-x: -384px;
    }
  }


